html, body {
     /* height: 100%;Ensures the body takes up the full height of the page */
    margin: 0; /* Removes default margin */
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

main {
    flex: 1; /* Ensures the main content takes up the remaining space */
}
